/* and now we match the same energy of the dub in the power of code */
:root {
	--f-primary: 'Supreme', sans-serif;
	--f-secondary: 'Outfit', sans-serif;
	--c-primary: #e65959;
	--c-secondary: #383855;
	--c-accent: #f9aa0d;
	--c-noot: #606080;
	--c-bg: #fff8ea;
	--c-bg-alt: #f8cb73;
	--c-fg: #242428;
	--c-fg-alt: #414167;
	--col-num: 14;

	@media (min-width: 1200px) {
		--side-col: 4;
	}
}
